{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ empresa.titulo }}</title>

  <meta name="title" content="{{ empresa.title }}">
  <meta name="description" content="{{ empresa.descripcion }}">

  <meta property="og:title" content="{{ empresa.title }}">
  <meta property="og:description" content="{{ empresa.descripcion }}">
  <meta property="og:url" content="{{ empresa.currentURL }}">

  <link rel="canonical" href="{{ empresa.empresa.currentURL }}" />

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content="{{ empresa.title }}">
  <meta name="twitter:description" content="{{ empresa.descripcion }}">
  <meta name="twitter:image" content="{%  static 'core/img/assets/images/logo.svg' %}">

  <!-- FACEBOOK -->
  <meta property="og:url" content="{{ empresa.urrentURL }}">
  <meta property="og:title" content="{{ empresa.title }}">
  <meta property="og:description" content="{{ empresa.descripcion }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{%  static 'core/img/assets/images/logo.svg' %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <link rel="icon" type="image/x-icon" href="{%  static 'core/img/assets/images/favicon32x32.png' %}">

  <!-- PARA CUALQUIER NAVEGADOR -->
  <link rel="icon" href="{%  static 'core/img/assets/images/favicon32x32.png' %}" sizes="32x32" type="image/png">

  <!-- PARA LOS MODELOS MAS RECIENTES DE IPAD Y IPHONE -->
  <link rel="apple-touch-icon-precomposed" href="{%  static 'core/img/assets/images/favicon152x152.png' %}"
    type="image/png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" href="{%  static 'core/img/assets/images/favicon120x120.png' %}"
    type="image/png" sizes="120x120">

  <!-- PARA GOOGLE TV -->
  <link rel="icon" href="{%  static 'core/img/assets/images/favicon96x96.png' %}" sizes="96x96" type="image/png">

  <!-- FONTS -->
  <!-- <link rel="stylesheet" href="{% static '/core/css/fonts.css' %}">  -->

  <!-- NORMALIZE CSS -->
  <!--    <link rel="stylesheet" href=" static '/core/css/normalize.css' %}">  -->

  <!-- MAIN CSS -->
  <!--    <link rel="stylesheet" href=" static '/core/css/main.css' %}">  -->

  <!-- Otros estilos -->
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/jquery.bxslider.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/jquery-confirm.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/sweetalert2.min.css' %}">
  <!-- OUR CUSTOMERS CAROUSEL -->
  <!-- <link rel="stylesheet" href="static 'core/css/plugins/our-customers-carousel/styles.css' %}"> -->
  <!-- SLICK SLIDER -->
  <!-- <link rel="stylesheet" href=" static 'core/css/plugins/slick-slider/styles.css' %}">   -->


  <!-- js -->
  <script src="{% static 'core/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'core/js/funciones.js' %}"></script>
  <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/js/popper.min.js' %}"></script>

  {% block headJS %}

  {% endblock %}

  <!-- Jquery Confirm -->
  {% block blcss %}

  {% endblock %}
  <style>
    .logo-section img {
      height: 4rem;
    }
  </style>
</head>

<body style="background-color: darkgrey; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <header class="d-flex justify-content-center align-items-center fw-bold"
    style="background-color: black; color: white; height: 3rem;">
    <p>PARA MAYOR INFORMACIÓN COMUNÍCATE AL:<a style="color: white;" href="tel:{{ empresa.PHONE_NUMBER }}">
      {{ empresa.PHONE_NUMBER_FRM }}</a></p>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
<!--      <img class="navbar-brand d-lg-none" src=" static 'core/assets/images/logo.svg' " style="height: 50px;">  -->
      <button class="navbar-toggler" style="margin-bottom: 10px;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nva-item">
            <a class="{% if index_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="{% url 'index' %}">Inicio</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="{% if paquetes_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="{% url 'promociones' %}">Paquetes</a>
          </li>
          <li class="nav-item">
            <a class="{% if formulario_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="#">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="{% if contacto_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="{% if nosotros_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="#">Nosotros</a>
          </li>
          {% endif %}
          <li class="nav-item">
            {% if not user.is_authenticated %}
            <a class="{% if acceso_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="{% url 'login' %}">Acceso a Clientes</a>
            {% else %}
              <a class="{% if acceso_active %} btn btn-outline-warning active {% else %} btn btn-light {% endif %}"
              href="{% url 'logout' %}">Cerrar sesión</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block contenido %}

  {% endblock %}
  <div style="padding: 10px 0 0 20px; margin-bottom: 20px;">
    <div class="row col-12 mapa" style="padding: 0 0 20px 20px; background-color: white; ">
      <div class="col-12 row" style="padding: 20px 0 20px 0px;">
        <div class="col-1">

        </div>
        <div class="col-1 text-end imagen-flota">
          <img src="{% static 'core/assets/images/icons/medal.png' %}" alt=""> 
        </div>
        <div class="col-7 d-flex align-items-center text-responsive">
          <label>
            Contamos con <strong>más de 20 herramientas directas</strong> que ofrecen flexibilidad y eficiencia en la cominicación y gestión de los usuarios.
          </label>
        </div>
        <div class="col-3 imagen-flota">

        </div>
      </div>
      <div class="col-12 row d-flex justify-content-around">
        <img class="image-responsive" src="{% static 'core/assets/images/tools/recopila-analiza-datos.png' %}" alt=""> 
        <img class="image-responsive" src="{% static 'core/assets/images/tools/identifica-patrones-tendencias.png' %}" alt=""> 
        <img class="image-responsive" src="{% static 'core/assets/images/tools/ofrece-informes-metricas.png' %}" alt=""> 
        <img class="image-responsive" src="{% static 'core/assets/images/tools/automatiza-procesos.png' %}" alt=""> 
      </div>
    </div>
    <div class="col-12" style="padding: 10px 0 20px 0;" >
      <div class="col-12 mapa row" style="background-color: black; color: white;">
        <div class="col-1">
        </div> 
        <div class="col-10 row text-responsive">
          <div class="row col-12" style="padding: 40px 0 20px 0; border-bottom: 1px solid white;">
            <div class="col-4 fs-6" style="border-right: 1px solid white; padding: 0 20px 0 30px;">
              <img src="{% static 'core/assets/images/logo-text-white.svg' %}" alt="">
              Estamos aquí para revolucionar la forma en que interactúas con tus clientes y gestionas tus ventas
            </div>
            <div class="col-4" style="border-right: 1px solid white; padding: 0 20px 0 30px;">
              <strong class="fs-4">Enlaces</strong>
              <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="">Nosostros</a></li>
                <li><a href="">Formulario</a></li>
                <li><a href="">Beneficios</a></li>
                <li><a href="">Herramientas</a></li>
              </ul>
            </div>
            <div class="col-4" style="padding: 0 20px 0 30px;">
              <label class="col-12 fs-6">Suscríbete para recibir nuestras ofertas</label><br>
              <form method="POST" action="{% url 'suscripcion_view' %}">  
                {% csrf_token %}
                <div class="input-group col-12">
                  <input type="text" class="form-control" id="id_correo"
                    name="correo" value="{{ form.correo.value }}">
                  <button class="input-group-text btn btn-secondary" type="submit" style="font-weight: bold">Suscribirse</button>
                </div>
                <div class="">
                  {% if messages %}
                  <div class="text-info small mt-2">
                        {% for message in messages %}
                        <p class="mb-0">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.errors.correo %}
                  <div class="text-danger small mt-2">
                      {% for error in form.errors.correo %}
                          <p class="mb-0">{{ error }}</p>
                      {% endfor %}
                  </div>
                {% endif %}
                </div>
              </form>
              <label class="col-12 fs-6">Al suscribirte aceptas nuestra 
                <snap style="color: yellow;">
                  <a href="{% url 'politicas' %}">Política de privacidad</a>
                </snap>.</label>
            </div>
          </div>
          <div class="col-12" style="padding: 10px 0 20px 0;">
            <div class="col-12 text-center">
              <label for=""><a href="{% url 'politicas' %}">Políticas de privacidad</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Términos y condiciones</label>
            </div>
            <div class="col-12 text-center">
              Copyright 2024 © Llantabot
            </div>
          </div>
        </div>
        <div class="col-1">
        </div> 
      </div>
    </div>
  </div>
  <script>
    {% block bljs %}

    {% endblock %}
  </script>
</body>

</html>