{% extends 'core/base1.html' %}
{% block contenido %}
    <h2>Lista de Detalles</h2>
    <a href="{% url 'detalle_create' %}">Crear Detalle</a>
    <ul>
        {% for detalle in object_list %}
            <li>
                <a href="{% url 'detalle_detail' detalle.pk %}">{{ detalle.descripcion }}</a>
                <a href="{% url 'detalle_update' detalle.pk %}">Editar</a>
                <a href="{% url 'detalle_delete' detalle.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
