{% extends "core/base1.html" %}
{% load static %}
{% block contenido %}
<div style="padding: 10px;">
    <div class="col-12 mapa" style="background-color: white; height: 100px;">
        <img class="img-fluid" src="{% static 'core/assets/images/logo.svg' %}" style="height: 80px; padding-left: 15px;" alt="">
    </div>
</div>
<div style="padding: 0 0 0 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="col-12 mapa pagina-amarilla row">
        <div class="col-9 row" >
            <div class="col-1">
               
            </div>
            <div class="col-11">
                <div class="col-12 d-flex justify-content-center">
                    <img class="imagen-flota" src="{% static 'core/assets/images/principal-banner/bot.png' %}" style="margin-top: -50px; width: 25%;" alt="">    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}