{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div class="col-12 row"
    style="padding: 0 0 0 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;">
    <div class="col-1">

    </div>
    <div class="col-10 mapa row" style="background-color: white; padding-bottom: 30px;">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="col-12 text-center politicas-titulo">
                Políticas de privacidad
            </div>
            <div class="col-12 politicas-texto-claro">
                Fecha de vigencia: México enero 2022
            </div>
            <div class="col-12 politicas-texto-claro">
                En llantabot.com, nos comprometemos a proteger la privacidad
                y los datos personales de nuestros usuarios. Esta Política de
                Privacidad establece los términos y condiciones en los que
                utilizamos y protegemos la información proporcionada por los
                usuarios al utilizar nuestro sitio web. Al utilizar llantabot.com,
                usted acepta los términos de esta política.
            </div>
            <div class="col-12 politicas-texto-bold">
                1. Información recopilada:
            </div>
            <div class="col-12 politicas-texto-claro">
                Recopilamos información personal de los usuarios, como nombres, información de contacto (como dirección de
                correo electrónico) y datos demográficos, cuando los usuarios se registran, crean perfiles o realizan compras en
                nuestro sitio web. Esta información es necesaria para procesar pedidos, realizar entregas y proporcionar un
                mejor servicio a nuestros usuarios.
            </div>
            <div class="col-12 politicas-texto-bold">
                2. Uso de la información recopilada:
            </div>
            <div class="col-12 politicas-texto-claro">
                Utilizamos la información recopilada para brindar nuestros servicios, mantener registros de usuarios y pedidos,
                mejorar nuestros productos y servicios, y enviar correos electrónicos con ofertas especiales y otra información
                publicitaria relevante. Nos comprometemos a proteger la seguridad de los datos y utilizamos sistemas avanzados
                para evitar el acceso no autorizado.
            </div>
            <div class="col-12 politicas-texto-bold">
                3. Cookies:
            </div>
            <div class="col-12 politicas-texto-claro">
                Utilizamos cookies para mejorar la experiencia del usuario en nuestro sitio web. Las cookies son archivos
                enviados al navegador del usuario para recopilar información y facilitar ciertas funciones. Los usuarios pueden
                optar por aceptar o rechazar las cookies en la configuración de su navegador. Sin embargo, al rechazar las
                cookies, es posible que algunas funciones de nuestro sitio web no estén disponibles.
            </div>
            <div class="col-12 politicas-texto-bold">
                4. Comunicación de información:
            </div>
            <div class="col-12 politicas-texto-claro">
                No vendemos, alquilamos ni compartimos información personal de los usuarios con terceros, excepto en los casos
                en que sea necesario para procesar pedidos, realizar entregas o cumplir con requisitos legales.
            </div>
            <div class="col-12 politicas-texto-bold">
                5. Enlaces a otros sitios web:
            </div>
            <div class="col-12 politicas-texto-claro">
                Nuestro sitio web puede contener enlaces a otros sitios web de terceros. Sin embargo, no nos hacemos
                responsables de las políticas de privacidad ni del contenido de dichos sitios. Se recomienda a los usuarios
                revisar las políticas de privacidad de esos sitios antes de proporcionar cualquier información personal.
            </div>
            <div class="col-12 politicas-texto-bold">
                6. Protección de datos de menores:
            </div>
            <div class="col-12 politicas-texto-claro">
                No recopilamos intencionalmente información personal de menores de edad sin el consentimiento verificable de sus
                padres o tutores legales. Si nos damos cuenta de que hemos recopilado información personal de un menor sin
                consentimiento, tomaremos las medidas necesarias para eliminarla de nuestros registros.
            </div>
            <div class="col-12 politicas-texto-bold">
                7. Cambios en la política de privacidad:
            </div>
            <div class="col-12 politicas-texto-claro">
                Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio será
                notificado a través de nuestro sitio web. Se recomienda a los usuarios revisar esta política periódicamente para
                mantenerse informados sobre cualquier actualización.
            </div>
            <div class="col-12 politicas-texto-claro">
                Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad, puede comunicarse con nosotros a
                través de llantabot.com@gmail.com.
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="col-1">

    </div>
</div>
{% endblock %}